@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-primary: 'Nunito';

@import '../../node_modules/bulma/bulma.sass';
@import './variables.scss';
@import './status.scss';

/* very general, high-level, app-wide styling that refers to core variables only */
.view-wrapper {
  margin: 3em;
  h1 {
    font-size: 1.5em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 700;
  }
}

