.not-started {
  background-color: $status-not-started;
}
.failing { //TODO: label should be negative only if ample time has passed, else sthg like 'just-started'.
  background-color: $status-failing;
}
.slacking { //TODO: label should be negative only if ample time has passed, else sthg like 'needs-work'.
  background-color: $status-slacking;
}
.progressing {
  background-color: $status-progressing;
}
.achieving {
  background-color: $status-achieving;
}
.achieved {
  background-color: $status-achieved;
}
.exceeding {
  background-color: $status-exceeding;
}

.task-status {
  color: $white;
  white-space: nowrap;
  &.not-started {
    @extend .not-started;
    &.outline { 
      color: $status-not-started;
      border: 1px solid $status-not-started;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-not-started;
      border: none;
      background-color:transparent;
    }
  }
  &.failing {
    @extend .failing; 
    &.outline {
      color: $status-failing; 
      border: 1px solid $status-failing;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-failing;
      border: none;
      background-color:transparent;
    }
  }
  &.slacking {
    @extend .slacking;
    &.outline { 
      color: $status-slacking;
      border: 1px solid $status-slacking;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-slacking;
      border: none;
      background-color:transparent;
    }
  }
  &.progressing {
    @extend .progressing;
    &.outline { 
      color: $status-progressing;
      border: 1px solid $status-progressing;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-progressing;
      border: none;
      background-color:transparent;
    }
  }
  &.achieving {
    @extend .achieving;
    &.outline {
      color: $status-achieving;
      border: 1px solid $status-achieving;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-achieving;
      border: none;
      background-color:transparent;
    }
  }
  &.achieved {
    @extend .achieved; 
    &.outline { 
      color: $status-achieved;
      border: 1px solid $status-achieved;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-achieved;
      border: none;
      background-color:transparent;
    }
  }
  &.exceeding {
    @extend .exceeding;
    &.outline { 
      color: $status-exceeding;
      border: 1px solid $status-exceeding;
      background-color:transparent;
    }
    &.textonly { 
      color: $status-exceeding;
      border: none;
      background-color:transparent;
    }
  }
  &.pill {
    border-radius: 4px;
  }
}
